<div class="footer">
    <div class="outer_wrap">
        <div class="inner_wrap">
            <div class="contents">
                <div class="img">
                    <img src="../../assets/img/footer/sausage.png" alt="" />
                </div>
                <h2 class="title80">We Look Forward <br /> To Serve You!</h2>

                <a href="javascript:" class="btnOrange btnLightOrange"><span>Contact us</span></a>
            </div>

            <ul class="footer_nav_list">
                <li>
                    <a href="../index.html">
                        Home
                    </a>
                </li>
                <li>
                    <a href="../vendors.html" class="active">
                        Vendors
                    </a>
                </li>
                <li>
                    <a href="../activities.html">
                        Activities
                    </a>
                </li>
                <li>
                    <a href="../sponsors.html">
                        Sponsors
                    </a>
                </li>
                <li>
                    <a href="../schedule.html">
                        Schedule
                    </a>
                </li>
                <li>
                    <a href="../contact-us.html">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer_nav_bottom">
        <p>Copyright Reserved 2025</p>
        <ul class="bottom_list">
            <li>
                <a href="javascript:">
                    Privacy Policy
                </a>
            </li>
            <li>
                <a href="javascript:">
                    Terms & Conditions
                </a>
            </li>
        </ul>
    </div>
</div>