<header class="header__wrapper">
    <div class="container">
        <nav class="nav_header">
            <div class="humbuger_wrap">
                <a href="../index.html" class="brand">
                    <img src="../../assets/img/icons/logo.svg" alt="Sasuage logo" />
                </a>

                <button class="btn_humburger" id="humguberBtn">
                    <span>Menu</span>
                </button>
            </div>
            <ul class="nav_list" id="humbugerMenu">
                <li>
                    <a href="../index.html">
                        Home
                    </a>
                </li>
                <li>
                    <a href="../vendors.html">
                        Vendors
                    </a>
                </li>
                <li>
                    <a href="javascript:" class="disable">
                        Activities
                    </a>
                    <span>Coming soon</span>
                </li>
                <li>
                    <a href="javascript:" class="disable">
                        Sponsors
                    </a>
                     <span>Coming soon</span>
                </li>
                <li>
                    <a href="javascript:" class="disable">
                        Schedule
                    </a>
                     <span>Coming soon</span>
                </li>
                <li>
                    <a href="../contact-us.html">Contact us</a>
                </li>
            </ul>
        </nav>
    </div>
</header>